*.7z
*.drc
*.gbk
*.zip
*.IB
*.identcache
*.local
*.map
*.todo
*.tvsconfig
*.~dsk
*.cmd
*.rar
/Sources/AutoTrades/__history/
/Sources/AutoTrades/__recovery/
/Sources/Brokers/__history/
/Sources/Charts/__history/
/Sources/CleverInternetSuite/__history/
/Sources/ColumnSettings/__history/
/Sources/Common/__history/
/Sources/Common/__recovery/
/Sources/DataModules/__history/
/Sources/DataModules/__recovery/
/Sources/Entities/__history/
/Sources/Frames/__history/
/Sources/Frames/__recovery/
/Sources/HTMLParse/__history/
/Sources/IABSocketAPI/API_all_platform/__history/
/Sources/IABSocketAPI/BCB/__history/
/Sources/IABSocketAPI/__history/
/Sources/NordNetAPI/__history/
/Sources/OrderTemplate/__history/
/Sources/Qualifiers/__history/
/Sources/Qualifiers/__recovery/
/Sources/Scanner/__history/
/Sources/Scanner/__recovery/
/Sources/Search/__history/
/Sources/Translate/__history/
/Sources/Translate/__recovery/
/Sources/UnRAR/__history/
/Sources/Virtual TreeView/__history/
/Sources/__history/
/Sources/__recovery/
/Sources/dEXIF/__history/
/Translate/__history/
/Translate/__recovery/
/__history/
/__recovery/
/arch.bat
/arch.txt
/bin/
/dcu/
/Sources/Excel/XLSReadWriteII/
/Sources/PDF/Gnostice PDFtoolkit/
/Sources/TesseractOCR/__history/
